* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background: url(https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1700&q=80) no-repeat center center/cover;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogpost {
  padding: 60px;
  margin: 20px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Lato", sans-serif;
}

.blogpost h1 {
  text-align: center;
  font-size: 75px;
}

.blogpost img {
  padding: 20px;
  width: auto;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.blogpost p {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 650px) {
  .blogpost {
    width: 450px;
  }
  .blogpost img {
    width: 330px;
    height: auto;
  }
  .blogpost h1 {
    font-size: 50px;
  }
  .blogpost p {
    font-size: 20px;
  }
}
